<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add event</title>
</head>
<body>

<form th:method="POST" th:action="@{/}" th:object="${event}">

    <label for = "title">Your title</label>

    <input type = "text" th:field="*{title}" id = "title"/>

    <br>

    <label for = "description">Your description</label>
    <input type = "text" th:field="*{description}" id = "description"/>

    <br>

    <label for = "startDate">Your start date</label>
    <input type = "date" th:field="*{startDate}" id = "startDate"/>

    <br>

    <label for = "periodicity">Your start date</label>
    <input type = "number" th:field="*{periodicity}" id = "periodicity"/>

    <br>

    <input type="submit" value="Create"/>
</form>

</body>
</html>